body {
    overflow-y: scroll;
}

h1 {
    text-align: center;
}

#NoteGrid {
    display: block;
    margin: 8px;
    padding: 1px;
    align-content: center;
}

.Notes {
    margin: 8px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: black 1px solid;
    background-color: red;
}

.NoteActions {
    margin: 8px;
    padding: 8px;
    display: grid;
    grid-column: span;
    justify-content: space-evenly;
}

.NoteText {
    text-wrap: wrap;
    word-break: break-all;
}

.NoteMainFunctions {
    text-decoration: rebeccapurple;
    justify-content: space-evenly;
    margin: 18px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
